/* verklaar classes voor de columns van fluid grid */
.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width:100%;}

/*geimporteerde google fonts: 
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
*/
*{
    color:#F4E6D8;
    margin: 0px;
    padding: 0px;
    }
body{
    background-color: #F4E6D8;
}
header{
    height: 3.5em;
    background-image: url(img/spaarnwouderpoort.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
    background-size: cover;
    font-family: 'Maven Pro', sans-serif;
    text-shadow: 2px 2px #333;
}
p{
    margin: 5%;
}
h2{
    margin: 2%;
}
.wikkel{
    display:block;
    
}
.linkerdeel{
    background-color: #295D92;
    float: left;
    width: 40%;
    height: 100vh;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 3vw;
    word-wrap:break-word;
}
.rechterdeel{
    background-color: #3474B7;
    float: right;
    width: 60%;
    height: 100vh;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 3vw;
    text-align: center;
    word-wrap: break-word;
}

footer{
    height: 3.5em;
    background-color:#1A3B5D;
    font-family: 'Maven Pro', sans-serif;
    clear: both;
    text-shadow: 2px 2px #333;
    background-image: url(img/spaarnwouderpoort_kont.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
    background-size: cover;
}
.img_activiteiten{
    padding: 1em;
    height:10em;
    float: right;
}



/* mediaquery's bijbehorende algemene breekpunten:
kleine smartphones: @media only screen and (max-width: 600px;)
grote smartphones: @media only screen and (min-width: 600px;)
tablets e.d.: @media only screenm and (min-width: 768px;)
laptops/desktop: @media only screen and (min-width: 992px;)
grote apparaten: @media only screen and (min-width: 1200px;)
*/

/*Notes to self. je moet die overflow fixen. 
media queries toevoegen voor grotere formaat schermen. 
andere kleuren combinatie, want deze shit is lelijk.
je html door die validator halen!!! serieus niet vergeten!
footer maken, ff googlen om te kijken wat er normaal in een footer staat. 
