/* verklaar classes voor de columns van fluid grid */
.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width:100%;}

/*geimporteerde google fonts: 
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
*/
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #F4E6D8;
}
header{
    color:#FBF6F1;
    height: 3.5em;
    background-image: url(img/spaarnwouderpoort.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
    background-size: cover;
    font-family: 'Maven Pro', sans-serif;
    text-shadow: 2px 2px #333;
}
p{
    margin: 5%;
}
h2{
    margin: 2%;
}
.wikkel{
    display:block;
}
.feitjes{
    padding: 2em;
    list-style-type: none;
    line-height: 2em;
}
.linkerdeel{
    background-color: #E7C8A9;
    color:#553718;
    float: left;
    width: 40%;
    height: 100vh;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 60%;
    word-wrap:break-word;
}
    #hofjes{
    height: 50%;
    }
    #vdpigge{
    height:50%;
    }
.rechterdeel{
    background-color: #F1DFCD;
    color:#553718;
    float: right;
    width: 60%;
    height: 100vh;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 60%;
    text-align: center;
    word-wrap: break-word;
}

footer{
    height: 3.5em;
    background-color:#1A3B5D;
    color:#FBF6F1;
    font-family: 'Maven Pro', sans-serif;
    clear: both;
    text-shadow: 2px 2px #333;
    background-image: url(img/spaarnwouderpoort_kont.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    bottom:0px;
    width:100%;
    background-size: cover;
    text-align: center;
}
.img_activiteiten{
    padding: 1em;
    height:10em;
    float: right;
    border-radius: 15%;
}

@media only screen and (min-width: 992px){
    .img_activiteiten{
        height: 50%;
    }
    .linkerdeel, .rechterdeel{
        font-size:80%;
    }
}

/*note to self
uhm footer fixen.
plus footer en header aanpassen bij grotere schermen vanwege slechte kwaliteit plaatje
uhm landscape mode nog steeds niet goed overal. 
*/
