/* verklaar classes voor de columns van fluid grid */
.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width:100%;}

/*geimporteerde google fonts: 
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
*/
*{
    color:#F4E6D8;
    margin: 0px;
    padding: 0px;
    }
body{
    background-color: #F4E6D8;
}
header{
    height: 3.5em;
    background-image: url(img/spaarnwouderpoort.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
    background-size: cover;
    font-family: 'Maven Pro', sans-serif;
    text-shadow: 2px 2px #333;
}
p{
    margin: 5%;
}
h2{
    margin: 2%;
}
.wikkel{
    display:block;
    
}
.feitjes{
    padding: 2em;
    list-style-type: none;
    line-height: 2em;
}
.linkerdeel{
    background-color: #295D92;
    float: left;
    width: 40%;
    height: 100vh;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 2.5vw;
    word-wrap:break-word;
}
.rechterdeel{
    background-color: #3474B7;
    float: right;
    width: 60%;
    height: 100vh;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 2.5vw;
    text-align: center;
    word-wrap: break-word;
}

footer{
    height: 3.5em;
    background-color:#1A3B5D;
    font-family: 'Maven Pro', sans-serif;
    clear: both;
    text-shadow: 2px 2px #333;
    background-image: url(img/spaarnwouderpoort_kont.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
    background-size: cover;
    text-align: center;
}
.img_activiteiten{
    padding: 1em;
    height:10em;
    float: right;
    border-radius: 15%;
}
/*grotere smartphones*/
@media only screen and (min-width: 600px){
    .linkerdeel{
        font-size: small;
    }
    .rechterdeel{
        font-size: medium;
    }
}
/*tablets e.d*/
@media only screen and (min-width: 768px)
{
    .linkerdeel{
        font-size: medium;
    }
    .rechterdeel{
        font-size: large;
    }
    .img_activiteiten{
        height: 13em;
    }
}
/*laptop/desktop*/
@media only screen and (min-width: 993px){
    .linkerdeel{
        width: 40%;
    }
    .rechterdeel{
        width: 60%;
    }
    .img_activiteiten{
        height:15em;
    }
}
/*grote apparaten*/
@media only screen and (min-width: 1200px){
    .linkerdeel{
        font-size:larger;
    }
    .rechterdeel{
        font-size: larger;
    }
}

/*Notes to self:
Oke hij is lelijk op die Nest Hub. Dimension is 1024 (breedte) x 600 hoogte
landscape mode is lelijk bij bijna allemaal. Dus die moet je nog fixen dan. 

*/
/*landscape mode*/
@media only screen and (orientation: landscape) and (max-width: 993px){
    .linkerdeel{
       width: 30%;
       font-size: small;
    }
    .rechterdeel{
        width: 70%;
        font-size:1em;
    }
    .img_activiteiten{
        height:10em;
        font-size:1em;
    }
}

