[class*="col-"]  {
    width: 100%;
}
@media only screen and (min-width: 768px)  {
    [class*="col-"]  {
        float: left;
        padding: 15px;
    }
    .col-1{width:8.33%;}
    .col-2{width:16.66%;}
    .col-3{width:25%;}
    .col-4{width:33.33%;}
    .col-5{width:41.66%;}
    .col-6{width:50%;}
    .col-7{width:58.33%;}
    .col-8{width:66.66%;}
    .col-9{width:75%;}
    .col-10{width:83.33%;}
    .col-11{width:91.66%;}
    .col-12{width:100%;}

    .linkerdeel .rechterdeel{
        height: 100vh;
    }
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #F4E6D8;
}

.header{
    color:#FBF6F1;
    height: 200px;
    background-image: url(img/spaarnwouderpoort.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
    background-size: cover;
    font-family: 'Maven Pro', sans-serif;
    text-shadow: 2px 2px #333;
}
.linkerdeel ul{
    list-style-type: none;
}

.linkerdeel{
    background-color: #E7C8A9;
    color:#553718;
    font-family: 'Ubuntu Mono', monospace;
}
.rechterdeel{
    background-color: #F1DFCD;
    color:#553718;
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
}
footer{
    background-color:#1A3B5D;
    color:#FBF6F1;
    font-family: 'Maven Pro', sans-serif;
    clear: both;
    text-shadow: 2px 2px #333;
    background-image: url(img/spaarnwouderpoort_kont.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: static;
    bottom:0px;
    width:100%;
    background-size: cover;
    text-align: center;
}

.img_activiteiten{
    width: 20%;
    padding: 4%;
    border-radius: 25%;
    float: right;
    
}

