/* verklaar classes voor de columns van fluid grid */
.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width:100%;}

/*geimporteerde google fonts: 
    font-family: 'Maven Pro', sans-serif;

    font-family: 'Rubik Puddles', cursive;

    font-family: 'Ubuntu Mono', monospace;
*/

/* mediaquery's bijbehorende algemene breekpunten:
kleine smartphones: @media only screen and (max-width: 600px;)
grote smartphones: @media only screen and (min-width: 600px;)
tablets e.d.: @media only screenm and (min-width: 768px;)
laptops/desktop: @media only screen and (min-width: 992px;)
grote apparaten: @media only screen and (min-width: 1200px;)
*/
*{
    color:#FBF5EC;
    margin: 0px;
    padding: 0px;
    
}
body{
    background-color: #18437F;
}
header{
    height: 3.5em;
    background-color: #061223;
    font-family: 'Maven Pro', sans-serif;
}
.wikkel{
    display:block;
}
.linkerdeel{
    background-color: #D88F2A;
    float: left;
    width: 30%;
    height: 100vh;
    font-family: 'Ubuntu Mono', monospace;
    font-size: x-small;
}

.rechterdeel{
    background-color: #A16A1E;
    float: right;
    width: 70%;
    height: 100vh;
    font-family: 'Ubuntu Mono', monospace;
    font-size: small;
}

footer{
    height: 3.5em;
    background-color:#061223;
    font-family: 'Maven Pro', sans-serif;
    clear: both;
}
.img_activiteiten{
height:10em;
float: right;
}
